*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:  #000000;
}
.cont{
  width: 400px;
  height: 500px;
  position: absolute;
  transform: translate(-40%,-50%);
  left: 50%;
  top: 50%;
 
}
.circle{
  height: 174px;
  width: 175px;
  position: absolute;
  border-radius: none;
}
.circle:first-child{
  background: linear-gradient(
    to right,
      Blue,
      Red);
  left: -60px;
  top: -80px;
}
.circle:last-child{
  background: linear-gradient(
      to left,
      Orange,
      purple);
  right: -20px;
  bottom: -80px;
}
form{
  height: 500px;
  width: 370px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
#heading{
  font-size: 40px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  font-size: 18px;
  margin-top: 40px;
  border: none;
  outline: none;
}
input::placeholder{
  color: #e5e5e5;
}
#btn{
  margin-top: 40px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.social{
  margin-top: 28px;
  display: flex;
}
.social div{
  width: 150px;
  border-radius: 3px;
  padding: 7px 10px 10px 7px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.facebook{
  margin-left: 15px;
}
.social i{
  margin-right: 4px;
}
.twitter{
  margin-left: 15px;
}